// Device Sizes (breakpoints)
$sd: 48.000em;
$md: 62.000em;
$ld: 75.000em;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$color1: #454545;
$color2: #ef4136;
$color3: #FFB83F;
$color4: #A7DF40;

// Font Settings
$font-default-family: Helvetica, Arial, Geneva, Verdana;
$font-default-size: 1.6rem;
$font-default-line-height: 1.65;
$font1: 'Titillium Web';
$font2: 'Titillium Web';

$padding: 1em;
